<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
 <nav id="navbar">
    <a href="#">Contact</a>
    <a href="#">Locations</a>
    <a href="#">Mary Kathy Dev</a>
    <a href="#">About</a>
    <a href="#">Blog</a>
 </nav>
 <section>
  <div>
    <h1>Develop with a Purpose.</h1>
    <p>Shop with Mary Kathy Dev Designs</p>
    <button>Shop</button>
  </div>
 </section>
</body>
</html>